
<footer class="footer">
  <div class="container-fluid">
    <nav>
      <ul>
        <!-- <li>
          <a href="https://www.creative-tim.com">
            Creative Tim
          </a>
        </li> -->
        <li>
          <a href="https://innovii.net/about_us.html">
            About Us
          </a>
        </li>
        <li>
          <a href="https://innovii.net/about_us.html">
            Blog
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright">
      &copy;
      {{test | date: 'yyyy'}}, Designed By Vivatech R&D
      <!-- <a href="https://www.invisionapp.com" target="_blank">Invision</a>. Coded by
      <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>. -->
    </div>
  </div>
</footer>
