<div class="panel-header panel-header-md">
    <div class="mr-3 col-md-10">
        <div class="card-user">

            <div class="row">
                <div class="col-sm-6 pr-1">
                    <div class="form-group">
                        <label class="text-white">Filter</label>
                        <input type="text" class="form-control" placeholder="Type to search" [(ngModel)]="data">
                    </div>
                </div>


            </div>

            <div class="row">
                <div class="col-md-12 form-group ">

                    <button type="button" class="btn btn-primary btn-round"
                        (click)="openFilterModel(filterModal)">Custom Filter</button>
                    <!-- (click)="viewAllFaculty(); criteriaForm.resetForm()">Reset</button> -->
                </div>
            </div>
        </div>
    </div>
</div>
<div class="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6">
                            <h4 class="card-title"> Student Marks</h4>
                        </div>
                        <div class="col-md-6">
                            <button type="button" class="btn btn-primary btn-round mr-2 float-right"
                                (click)="exportDataToExcel()">Export</button>
                            <button type="button" class="btn btn-primary btn-round mr-2 float-right"
                                (click)="open(createModal)">Assign Marks</button>
                        </div>
                    </div>

                </div>
                
                <div class="card-body">
                    <table id="studentMarkTable" class="table table-responsive">
                        <thead>
                            <th style="text-align: center;">
                                Student Name
                            </th>
                            <th style="text-align: center;">
                                Class
                            </th>
                            <th style="text-align: center;">
                                Section
                            </th>
                            <th style="text-align: center;">
                                Subject
                            </th>
                            <th style="text-align: center;">
                                Marks
                            </th>
                            <th style="text-align: center;">Action</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of filteredMarks | filter: data 
                            | paginate: { itemsPerPage: 15, currentPage: p, totalItems: pages2 }">
                                <td style="text-align: center;">
                                    {{item.student.studentName}}
                                </td>
                                <td style="text-align: center;">
                                    {{item.classId}}
                                </td>
                                <td style="text-align: center;">
                                    {{item.sectionId}}
                                </td>
                                <td style="text-align: center;">
                                    {{item.subjects.subjectCode}}
                                </td>
                                <td style="text-align: center;">
                                    {{item.obtainedMarks}}
                                </td>
                                <td class="td-actions" style="text-align: center;">
                                    <button type="button" rel="tooltip" title=""
                                        class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral"
                                        data-original-title="View Student" (click)="viewStudent(item.student.id)">
                                        <i class="now-ui-icons users_single-02"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="6">
                                    <pagination-controls 
                                    directionLinks="true"
                                    responsive="true"
                                    previousLabel=""
                                    nextLabel=""
                                    (pageChange)="pageChangeEvent($event)"></pagination-controls>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- add model starts  -->
<ng-template #createModal let-modal>


    <div class="modal-content">
        <div class="card-header">
            <div class="row">
                <div class="col-md-6 pr-1" style="text-align: left;">
                    <h5 class="title" style="font-weight: bold;">Examination Marks</h5>
                </div>
                <div class="col-md-6">
                    <button aria-hidden="true" class="btn btn-primary" style="float: right;"
                    (click)="showBulkUploadModal(bulkUploadModal)" type='button'>Upload</button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="form-group col-md-4">
                    <label for="inputState">Session Name</label>
                    <select class="form-control  myformcontrol" aria-label="Default select example" id="sessionname"
                        name="sessionname" (change)="searchExamBySession($event)">
                        <option value="">Select</option>
                        <option *ngFor="let item of sessionList" [value]="item.sessionName">{{item.sessionName}}</option>
                    </select>

                </div>
                <div class="form-group col-md-4">
                    <label for="inputState">Exam Name</label>
                    <select class="form-control  myformcontrol" aria-label="Default select example" id="examname"
                        name="examname">
                        <option value="">Select</option>
                        <option *ngFor="let item of examinationList" [value]="item.examName">{{item.examName}}</option>
                    </select>

                </div>
                <div class="form-group col-md-4">
                    <label for="inputState">Class</label>
                    <select class="form-control  myformcontrol" aria-label="Default select example" id="classname"
                        name="classname">
                        <option value="">Select</option>
                        <option *ngFor="let item of assignClassList" [value]="item.classId + ' ' + item.sectionId">{{item.classId + ' ' + item.sectionId}}</option>
                    </select>

                </div>
                
            </div>
            <div class="row">
                <div class="form-group col-md-4">
                    <label for="inputState">Subject</label>
                    <select class="form-control  myformcontrol" aria-label="Default select example" 
                    id="examsubject" name="examsubject" (change)="findAllStudentMarks($event)">
                        <option value="">Select</option>
                        <option *ngFor="let item of uniqueSubjectArray" [value]="item">{{item}}</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label for="inputState">Full Marks</label>
                    <input class="form-control myformcontrol" type="text" placeholder="" id="examfullmarks" 
                    name="examfullmarks" value="{{fullMarks}}">
                </div>
                <div class="form-group col-md-4">
                    <label for="inputState">Attendance</label>
                    <select class="form-control  myformcontrol" aria-label="Default select example" id="examattendancestatus" 
                    (change)="attendancestatus($event)" name="examattendancestatus">
                        <option value="">Select</option>
                        <option value="P">Present</option>
                        <option value="A">Absent</option>
                    </select>
                </div>
                
            </div>
            <hr>
            <form role="form" [formGroup]="addStudentMarksForm">
                <div class="row">
                    <div class="col-md-12">
                        <div formArrayName="studentMarksArray">
                            <div class="row" *ngFor="let item of addStudentMarksForm.get('studentMarksArray')['controls']; index as i"
                            [formGroupName]="i">
                                <div class="form-group col-md-3" hidden>
                                    <label for="inputState">Marks Id</label>
                                    <input class="form-control myformcontrol" type="text" placeholder="" id="id"
                                        name="id" formControlName="id">
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="inputState">Admission No</label>
                                    <input class="form-control myformcontrol" type="text" placeholder="" id="admissionNo"
                                        name="admissionNo" formControlName="admissionNo">
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="inputState">Student Name</label>
                                    <input class="form-control myformcontrol" type="text" placeholder="" id="studentName"
                                        name="studentName" formControlName="studentName">
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="inputState">Attendance</label>
                                    <select class="form-control  myformcontrol" aria-label="Default select example" id="attendanceStatus"
                                        name="attendanceStatus" formControlName="attendanceStatus">
                                        <option value="">Select</option>
                                        <option value="P">Present</option>
                                        <option value="A">Absent</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="inputState">Obtained Marks</label>
                                    <input class="form-control myformcontrol" type="text" placeholder="" id="obtainedMarks"
                                        name="obtainedMarks" formControlName="obtainedMarks" (input)="checkMarks(i)">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <ul class="nav nav-pills float-right">
                            <li class="nav-item rounded-circle ml-1"
                                *ngFor="let item of pages; let i = index">
                                <a href="#" class="nav-link border border-primary rounded-circle active"
                                    (click)="setPage(i,$event)"
                                    [ngClass]="{'active': i==requestPage}">{{i+1}} </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </form>
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-secondary" (click)="saveStudentMarks()">Save</button>
                </div>
            </div>
        </div>
        
    </div>

</ng-template>
<!-- add model end -->

<!-- filter model starts  -->
<ng-template #filterModal let-modal>

    <div class="modal-content">
        <div class="card-header">
            <div class="row">
                <div class="col-md-6 pr-1" style="text-align: left;">
                    <h5 class="title" style="font-weight: bold;">Filter Student Marks</h5>
                </div>

            </div>
        </div>
        <div class="card-body gradientModelBackground">
            <form role="form" [formGroup]="filterStudentMarksForm">
                <div class="row">
                    <div class="col-sm-3 pr-1">
                        <div class="form-group">
                            <label class="text-white">Session Name</label>
                            <select class="form-control  myformcontrol text-danger" aria-label="Default select example"
                            (change)="searchExamBySession($event)" id="fsessionname" name="fsessionname" formControlName="fsessionname">
                                <option value="">Select</option>
                                <option *ngFor="let item of sessionList" value="{{item.sessionName}}">{{item.sessionName}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-3 pr-1">
                        <div class="form-group">
                            <label class="text-white">Exam Name</label>
                            <select class="form-control  myformcontrol text-danger" aria-label="Default select example"
                                id="fexamname" name="fexamname" formControlName="fexamname">
                                <option value="">Select</option>
                                <option *ngFor="let item of examinationList" value="{{item.examName}}">{{item.examName}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-3 pr-1">
                        <div class="form-group">
                            <label class="text-white">Class</label>
                            <select class="form-control  myformcontrol text-danger" aria-label="Default select example" id="fclassname"
                                name="fclassname" formControlName="fclassname">
                                <option value="">Select</option>
                                <option *ngFor="let item of assignClassList" [value]="item.classId + ' ' + item.sectionId">{{item.classId + ' ' +
                                    item.sectionId}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-3 pr-1" *ngIf="forAdminLoginOnly">
                        <div class="form-group">
                            <label class="text-white">Teacher Name</label>
                            <select class="form-control  myformcontrol text-danger" aria-label="Default select example"
                                id="fteachername" name="fteachername" formControlName="fteachername">
                                <option value="">Select</option>
                                <option *ngFor="let item of teachersList" value="{{item.id}}">{{item.teacherCode}} --- {{item.teacherName}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-3 pr-1">
                        <div class="form-group">
                            <label class="text-white">Student Name</label>
                            <input type="text" name="fstudentname" id="fstudentname" formControlName="fstudentname"
                            class="form-control myformcontrol text-danger" placeholder="Type to search"
                            (keyup)="autoSearchStudentName()" list="codes">
                            <datalist id="codes">
                                <option *ngFor="let c of studentSearch" [value]="c"></option>
                            </datalist>
                        </div>
                    </div>
                    <div class="col-md-3 pr-1">
                        <div class="form-group">
                            <label class="text-white">Subject</label>
                            <select class="form-control  myformcontrol text-danger" aria-label="Default select example"
                                id="fsubjectname" name="fsubjectname" formControlName="fsubjectname">
                                <option value="">Select</option>
                                <option *ngFor="let item of uniqueSubjectArray" [value]="item">{{item}}</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group text-center">
                        <button type="button" class="btn btn-primary btn-round" (click)="submitFilterRequest()">Filter</button>
                        &nbsp;<button type="reset" class="btn btn-warning btn-round"
                            (click)="initializeFilterMarksModel()">Reset</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</ng-template>
<!-- filter model end -->

<!-- Bulk upload modal start -->

<ng-template #bulkUploadModal let-modal>
    <div class="modal-content">
        <div class="card-header">
            <div class="row">
                <div class="col-md-6 pr-1" style="text-align: left;">
                    <h5 class="title" style="font-weight: bold;">Upload Bulk Student</h5>
                </div>

            </div>
        </div>
        <div class="modal-body">
            <input type="file" name="bulkUploadExcel" id="bulkUploadExcel" (change)="uploadBulkData($event)">
            <button type="button" class="btn btn-primary btn-round" (click)="onBulkSubmit()">Save</button>
        </div>
    </div>
</ng-template>

<!-- Bulk upload modal end -->