.table-responsive{
    overflow-x: auto;
    overflow-y: auto;
}

thead tr th{
    font-size: medium;
}

::ng-deep .colored-toast.swal2-icon-success {
    background-color: #a5dc86 !important;
}

::ng-deep .colored-toast .swal2-title {
    color: white !important;
}